<header>
<div class="container">
    <a routerLink="/" class="logo">Food Mine!</a>
    <nav>
        <ul>
    <li>
        <a routerLink="/login">Login</a>
    </li>
    <li class="menu-container">
        <a routerLink="/dashboard">Shiva</a>
        <div class="menu">
            <a routerLink="/profile">Profile</a><br>
            <a routerLink="/order">Orders</a><br>
            <a>Logout</a>
        </div>
    </li>
    <li>
        <a routerLink="/cart-page">
            Cart <span>3</span>
        </a>
    </li>
    </ul>
    </nav>
    </div>
    </header>
  
